<!DOCTYPE html>



{% extends "first_app/first_app_templates/t_base.html" %}

{% block body_block %}

    <h1>Template Tagging</h1>

    <p>Tags provide arbitrary logic in the rendering process. </p>
        
    <p></p>This definition is deliberately vague. For example, a tag can output content, serve as a control structure e.g. an “if” statement or a “for” loop, grab content from a database, or even enable access to other template tags. </p>

    <p><a href ="{% url 'first_app:template_filters' %}">Template Filters</a></p>

{% endblock %}
